<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Abhishek Manager{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header class="spiritual-header">
  <div class="mantra-glow">
    <!-- <span class="sanskrit-word">सद्</span>
    <span class="sanskrit-guru">गुरु</span> -->
   <span class="rest-text">॥ श्री स्वामी समर्थ महाराज की जय ॥</span>
  </div>
</header>


  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>“सद्गुरु श्री स्वामी समर्थ महाराज की जय”</p>
    <p>“Shree Swami Samarth Seva Portal”</p>
  </footer>
</body>
</html>
